[submodule "moveit"]
	path = moveit
	url = git@github.com:joaom00/moveit.git
[submodule "beatmaker"]
	path = beatmaker
	url = git@github.com:joaom00/beatmaker.git
[submodule "50Projects50Days"]
	path = 50Projects50Days
	url = git@github.com:joaom00/50Projects50Days.git
[submodule "slide"]
	path = slide
	url = git@github.com:joaom00/slide.git
[submodule "rock-paper-scissors"]
	path = rock-paper-scissors
	url = git@github.com:joaom00/rock-paper-scissors.git
[submodule "js-funcional-reativo"]
	path = js-funcional-reativo
	url = git@github.com:joaom00/js-funcional-reativo.git
